*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}



.nav-container {
    display: flex;
    justify-content: space-between;
}


nav{
    background: #ff6900;
    padding: 30px 0;
    margin-bottom: 50px;
}


nav .nav-container .nav-links ul{
    display: flex;
    gap: 4px;
    list-style-type: none;
    
}

nav .nav-container .nav-links a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}





nav .nav-container .nav-logo img{
    width: 140px;
    height: 30px;

}

nav .nav-container .nav-icons{
   color: white;
 } 



#cards >*{
    width: calc(100% / 3);
}

#cards{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    
}


header .container #cards .cards {
    position: relative;
}

#cards .cards .icon-card{
    position: absolute;
    padding: 15px;
    right: 0px;
    top: 10px;
    text-align: center;
    background-color: #fff;
}

#cards .cards .icon-card:hover {
    background-color: red;
}


.cards .hover img{
    display: block;
}

.cards .hover .img-hover{
    display: none;
}

.hover:hover .img{
    display: none;
    opacity: 0;
}

.hover:hover .img-hover{
    display: block;
}


.btn{
    display: flex;
    position: absolute;
    text-align: center;
    bottom: 80px;

}

.btn-small,
.btn-big {
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.btn-small{
    display: flex;
    width: 59px;
    height: 25px;
    background-color: red;
    color: white;
}

.btn-big{
    width: 105px;
    height: 25px;
    margin-left: 6px;
    background-color: #017f00;
    color: white;
}



header .container #cards .cards img{
    width: 100%;
}

.cards figcaption small{
    font-size: 12px;
    font-weight: 500;
}

figcaption strong{
    text-transform: uppercase;
    font-weight: 700;
}

footer{
    background-color: #1a1a1a;
    padding: 30px 0px;
}

footer .container .footer-container{
    display: flex;
    justify-content: space-between;
}

footer .container .footer-cookies{
    color: white;
    /* prova */
}

footer .container .footer-container .footer-cookies .name{
    margin-bottom: 15px;
}

.container .footer-container .footer-cookies ul{
    display: flex;
    list-style-type: none;
}

.container .footer-container .footer-cookies ul li a{
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

footer .container .footer-social .footer-info{
    color: white;
    margin-bottom: 15px;
    /* prova */
}

footer .container .footer-social .footer-icons{
    color: white;
}

footer .container .footer-social .footer-icons i{
    margin-right: 10px;
}

